<script src="javascripts/ag-grid-community.js"></script>
<style>
html, body {
    height: 100%;
}

.container {
    height: 100%;
}
.modal-full {
    min-width: 90%;
    margin-left: 80;
}

.modal-full .modal-content {
    min-height: 90vh;
}

</style>

<div class="container-fluid h-100">
    
	<div class="w-100 d-inline-block" style="height: 8%; background-color: #fff">
		<input class="btn btn-dark" type="button" value="Back" onclick="window.location.href = '/'" />
	</div>
	<% if @mode.to_i==1 %>
	<div class="w-100 d-inline-block" style="height: 8%; background-color: #fff">
		<input class="btn btn-primary" type="button" value="Share New location" onclick="window.location.href = '/share_location'" />
	</div>
	<% end %>
	<div class="w-100 d-inline-block" style="height: 84%;">
		<div id='gridvw' class="ag-theme-balham" style="height: 90%;"></div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="showLocationModal" tabindex="-1" role="dialog" aria-labelledby="showLocationModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareLocationModalTitle">Show Location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div>
<script>
	var mode=<%= @mode %>;
	var gridOptions; 
   
    gridOptions = 
    {	
		columnDefs: <%= raw my_shared_places_grid_header_hash.to_json %>,
        rowData: null,
        enableSorting: true,
        enableFilter: true,
        rowSelection: 'multiple',
        headerHeight: 30, 
        rowHeight:30,
        enableRangeSelection: true,         
        enableStatusBar: true,
        suppressRowClickSelection:true,
        enableColResize: true,
		components: {
			'htmlRenderer': htmlRenderer
		},
		rowHeight:40
    };
	
	// cell renderer class
	function htmlRenderer() {
	}

	// init method gets the details of the cell to be renderer
	htmlRenderer.prototype.init = function (params) {
		this.eGui = document.createElement('span');
		this.eGui.innerHTML = params.value;
	};

	htmlRenderer.prototype.getGui = function () {
		return this.eGui;
	};
	
	function init_grid(){
        var gridDiv = document.querySelector('#gridvw');  
        new agGrid.Grid(gridDiv, gridOptions);  
        gridOptions.api.hideOverlay();
    }
	document.addEventListener("turbolinks:load", function() {   
		init_grid();  
		load_grid(); 
	})
	
	function load_grid(){
		createNewDatasource();
	}
	
	function createNewDatasource(){ 
		$.ajax({
			type: "get",
			url: "/get_my_shared_location", 
			data: "mode="+mode,
			success: function(msg){ 
				var rowsThisPage = msg; 
				gridOptions.api.setRowData(rowsThisPage);  
				if(rowsThisPage.length == 0){
					gridOptions.api.showNoRowsOverlay(); 
				}
			},complete: function (xhr, status) {
				if(xhr.status==401){
					alert(xhr.responseText)
					window.location.reload();
				}
			}
		});
	}
	
	function show_location(lng,lat){
		var iframe=" <iframe src='show_location?lng="+lng+"&lat="+lat+"' class='w-100 h-100'></iframe> "
		$("#showLocationModal .modal-body").html(iframe);
		$(showLocationModal).modal(); 
	} 
</script>